.page {
  margin: 60px auto 0 auto;
}
.page #img-container {
  margin: 0 auto;
}
.photo {
  min-width: 300px;
  margin: 2px;
}
.navbar-color {
  background-color: #AF9B60 !important;
  opacity: 0.95;
}
.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

