body {
  font-family: Gill Sans, sans-serif;
  background-color: #222;
}
.page {
  margin: 50px 0 20px 0;
}
.page #img-container {
  width: 310px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Responsive grid patterns */
.grid-sizer,.item {
  width: 148px;
  margin-bottom: 0;
}
@media screen and (min-width: 480px) and (max-width: 629px) {
  .page #img-container{ width: 480px; }
}
@media screen and (min-width: 630px) and (max-width: 779px) {
  .page #img-container{ width: 630px; }
}
@media screen and (min-width: 780px) and (max-width: 929px) {
  .page #img-container { width: 780px; }
}
@media screen and (min-width: 930px) and (max-width: 1079px) {
  .page #img-container { width: 930px; }
}
@media screen and (min-width: 1080px) {
  .page #img-container { width: 1080px; }
}
.photo {
  max-width: 100%;
  min-width: 100%;
}
.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px;
  opacity: 0.95;
  z-index: 500;
  background-color: #FAEBD7;
  padding: 10px;
}
.nav-title a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
.modal {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1000;
  text-align: center;
}
.modal-content {
  display: inline-block;
  margin: 5% auto;
  height: 100%;
  width: 100%;
}
.wide {
  width: 96%;
}
.tall {
  height: 90%;
}
.gallery-list-item {
  clear: both;
  max-height: 200px;
  overflow-y: hidden;
  margin-bottom: 10px;
}
.gallery-list-item a {
  float: left;
  width: 33%;
}
.gallery-list-image {
  max-width: 100%;
  min-width: 100%;
}
.gallery-list-info h4 a {
  color: #cfcfcf;
  text-decoration: none;
}
.gallery-list-info p {
  color: #777;
}
.gallery-list-info h4 {
  margin-top: 0;
  padding-top: 0;
}
.gallery-list-info {
  width: 64%;
  margin-left: 33%;
  padding-left: 10px;
}
@media screen and (max-width: 480px) {
  .gallery-list-info h4 { color: #fff; margin-top: 0; }
}

